MINECRAFT_EMAIL=xxxxxxxxxxxxxxxxx@xxxx.com
MINECRAFT_PASSWORD=xxxxxxxxxxxxxxxxx

MINECRAFT_CHAT_SEPARATOR=>
# The character that separates the author name from their message in game

HYPIXEL_API_KEY=xxxxxxxxxxxxxxxxx
# Do `/api new` on Hypixel for this

MINIMUM_NETWORK_LEVEL=
# The bot will warn you about players requesting to join the guild that are under this threshold

DISCORD_TOKEN=xxxxxxxxxxxxxxxxx
DISCORD_PREFIX=)
DISCORD_INVITE_LINK=discord.gg/
USE_RANK_EMOJIS=false
GUILD_MASTER_UUID=xxxxxxxxxxxxx

#rank names do not have to match the actual names in your guild
LOWEST_RANK_REQUIREMENT=xxxxxxxxxxx #lowest rank requirement
LOWEST_RANK_NAME=xxxxxxxxxxxxxxxxx # the actual name of your lowest rank

MIDDLE_RANK_REQUIREMENT=xxxxxxxxxxx #2nd to lowest rank requirement
MIDDLE_RANK_NAME=xxxxxxxxxxxx #2nd lowest rank actual name

HIGHEST_RANK_REQUIREMENT=xxxxxxxxxxx # requirement for your highest rank (or third rank)
HIGHEST_RANK_NAME=xxxxxxxxxxxx #actual name of your highest rank

# might add support for guilds with more than 3 gexp based ranks later

MEMBER_CHANNEL_ID=xxxxxxxxxxxxxxxxx
OFFICER_CHANNEL_ID=xxxxxxxxxxxxxxxxx
BLACKLIST_CHANNEL_ID=xxxxxxxxxxxxxxxxx
ERROR_CHANNEL_ID=xxxxxxxxxxxxxxxxx
DM_LOG_CHANNEL_ID=xxxxxxxxxxxxxxx

BOT_OWNER_ID=xxxxxxxxxxxxxxxxx
STAFF_ROLE_ID=xxxxxxxxxxxxxxxxx
